<style TYPE="text/css" media=screen>
.rep .facet .values .value .label { left: 1.2em; }  /* extra space since numbers go up to 1,000,000 */
</style>

<script language="javascript">
$().ready(function() {
  // only necessary if using sub-uris
  repertoire.defaults = { path_prefix: '<%= ::Merb::Config[:path_prefix] %>' };

  $('#citizens').facet_context(function() {
    return { search: $("#search").val() };
  });
  $(".facet").facet();
  $(".nested_facet").nested_facet();
  $("#results").results();
});
</script>

<a style='float:right; clear: right; margin-right:10px' href='<%= url(:controller => :nobelists) %>'>Default facets</a>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form>
<div id='citizens'>
  <div class='left'>
    <div id='gender' class='facet'></div>
    <div id='occupation' class='facet'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div>
    <div id='birthdate' class='facet'></div>
  </div>
</div>
