<% config = RepertoireFacetingExample::Application.config %>

<style TYPE="text/css" media=screen>
.rep .facet .values .value .label { left: 1.2em; } /* extra space since numbers go up to 1,000,000 */
#results { clear: none; margin-top: 10px; }
</style>

<script language="javascript">
$().ready(function() {
  // only necessary if using sub-uris
  repertoire.defaults = { path_prefix: '' };

  $("#search").tipTip({content: "Combine faceted browsing with enterprise-level full-text search"});
  $(".facet").tipTip({content: "Built-in facet count indices allow your browser to scale up to 1,000,000 items without any change in code (30,000 when not using our PostgreSQL extensions)", defaultPosition:"right"});
  $(".nested_facet").tipTip({content: "Index hierarchical and other facets using familiar procedures", defaultPosition:"left"});

  $('#citizens').facet_context(function() {
    return { search: $("#search").val() };
  });
  $(".facet").facet();
  $(".nested_facet").nested_facet();
  $("#results").results();
});
</script>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form>

<div id='info'>Repertoire Faceting - Scalability Features</div>

<%= render :partial => './navigation', :locals => { :highlight => :nobelists } %>

<div id='citizens'>
  <div class='left'>
    <div id='gender' class='facet'></div>
    <div id='occupation' class='facet'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div>
    <div id='birthdate' class='nested_facet'></div>
  </div>
</div>
