body {font-family: Trebuchet MS, Helvetica, Arial, sans serif; font-size: 10pt; margin: 0em; background: white;}

form { margin: 10px; }
.left { float:left; clear: left; margin: 10px; }
#results { float:left; clear: none; width: 530px;}
.right { float:left; clear: right; margin: 10px; }
.nobelist { clear: both; margin: 10px; border: 1px black dotted; padding: 5px; }
.nobelist img { float: left; margin: 5px; }

.citizen { font-size: 9pt; }
.citizen div { float: left; clear: none; width: 100px; }
.citizen .name { width: 125px; }
.citizen .gender { width: 50px; }
.citizen .birth_place { width: 150px; }

form { float:left; clear: none; }
#navigation { float:right; clear: right; padding-right: 20px; margin-right: 150px; height: 1.3em; border-bottom: 1px dotted #CCC; }
#navigation ul { margin: 0px; padding: 0px; line-height: 1em; white-space: nowrap; }
#navigation li { list-style-type: none; display: inline; }
#navigation li a { text-decoration: none; padding: 7px 10px; color: #000; }
#navigation .selected { text-decoration: underline; }