<% config = RepertoireFacetingExample::Application.config %>

<script language="javascript">
$().ready(function() {
  // only necessary if using sub-uris
  repertoire.defaults = { path_prefix: '<%= config.repertoire_assets.path_prefix %>' };

  $('#nobelists').facet_context(function() {
    return { 
      search: $("#search").val()
    }
  });
  $('.facet').facet();
  $('.nested_facet').nested_facet();
  $('#results').results();
});
</script>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form> 

<%= render :partial => './navigation', :locals => { :highlight => :nobelists } %>

<div id='nobelists'>
  <div class='left'>
    <div id='discipline' class='facet'></div>
    <div id='nobel_year' class='facet' title='Year Awarded'></div>
    <div id='degree' class='facet' title='Degree at MIT'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div> 
    <div id='birth_decade' class='facet' title='Birth Decade'></div>
  </div>
</div>
