<script src="/javascripts/rep.faceting.js"></script>

<script>
$().ready(function() {
  $('#nobelists').facet_context(function() {
    return { 
      search: $("#search").val() 
    };
  });
  $('.facet').facet();
  $('.nested_facet').nested_facet();
  $('#results').results();
});
</script>

<a style='float:right; margin-right:10px' href='<%= url(:action => :visualize) %>'>Visual facets / Extension demos</a>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form> 
<div id='nobelists'>
  <div class='left'>
    <div id='discipline' class='facet'></div>
    <div id='nobel_year' class='facet' title='Year Awarded'></div>
    <div id='degree' class='facet' title='Degree at MIT'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div>
    <div id='birthdate' class='facet' title='Birth Decade'></div>
  </div>
</div>
