<script language="javascript">
$().ready(function() { 
   $("#discipline").facet('discipline',   '/nobelists/counts/discipline');
   $("#nobel_year").facet('nobel_year',   '/nobelists/counts/nobel_year',  { title : 'Year Awarded' });
   $("#birth_place").facet('birth_place', '/nobelists/counts/birth_place', { title : 'Birth Place', nested: true });
   $("#degree").facet('degree',           '/nobelists/counts/degree');
   $("#birthdate").facet('birthdate',     '/nobelists/counts/birthdate',   { nested: true });
   $("#results").results(                 '/nobelists/results');
 });
</script>
 
<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form> 
<div class='facet_refinement_context' id='nobelists'>
  <div class='left'>
    <div id='discipline'></div>
    <div id='nobel_year'></div>
    <div id='degree'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place'></div>
    <div id='birthdate'></div>
  </div>
</div>
