<% config = RepertoireFacetingExample::Application.config %>

<script language="javascript">
$().ready(function() {
  // only necessary if using sub-uris
  repertoire.defaults = { path_prefix: '' };

  $('#nobelists').facet_context(function() {
    return {
      search: $("#search").val()
    }
  });
  $('.facet').facet();
  $('.nested_facet').nested_facet();
  $('#results').results();

  $("#search").tipTip({content: "Base the faceted search on top of any query - e.g. SQL LIKE"});
  $("#discipline").tipTip({content: "Indexed facet, ordered by descending count", defaultPosition: "right"});
  $("#nobel_year").tipTip({content: "Unindexed facet, ordered alphanumerically", defaultPosition: "right"});
  $("#degree").tipTip({content: "Indexed facet, ordered by descending count", defaultPosition: "right"});
  $("#birth_place").tipTip({content: "Hierarchical facet built from three database columns", defaultPosition: "left"});
  $("#birth_decade").tipTip({content: "Computed facet value derived from a database date column", defaultPosition: "left"});
  $("#results").tipTip({content: "Result tiles are formatted using standard Ruby templates", defaultPosition: "top"});
});
</script>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form>

<div id='info'>Repertoire Faceting - Core Features</div>

<%= render :partial => './navigation', :locals => { :highlight => :nobelists } %>

<div id='nobelists'>
  <div class='left'>
    <div id='discipline' class='facet'></div>
    <div id='nobel_year' class='facet' title='Year Awarded'></div>
    <div id='degree' class='facet' title='Degree at MIT'></div>
  </div>
  <div id='results'></div>
  <div class='right'>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div>
    <div id='birth_decade' class='facet' title='Birth Decade'></div>
  </div>
</div>
