<% config = RepertoireFacetingExample::Application.config %>

<style>
#discipline .values { width: 240px; height: 230px; overflow: hidden; }
#nobel_year .values { width: 240px; height: 230px; overflow: hidden; }
#birth_decade .values { width: 240px; height: 120px; overflow: hidden; }
#results, #timeline { width: 570px; height: 570px; clear: none; float: left;}
</style>

<script>
$().ready(function() {
  // only necessary if using sub-uris
  rack_prefix         = '<%= config.repertoire_assets.path_prefix %>';
  repertoire.defaults = { path_prefix: rack_prefix };
  
  $("#discipline").tipTip({content: "Over-ride default widgets for rich, drillable visualizations", defaultPosition: "right"});
  $("#nobel_year").tipTip({content: "Protovis and Processing provide opportunities for novel visualizations of your data", defaultPosition: "right"});
  $("#birth_decade").tipTip({content: "Or display your facet data using standard charting techniques", defaultPosition: "left"});
  $("#degree,#birth_place").tipTip({content: "Combine textual and visual facets, and use indexes to tackle large data sets", defaultPosition: "left"});
  $("#timeline").tipTip({content: "Build novel visualizations for your results - e.g. using birthdate, nobel date, and death date.", defaultPosition: "top"});

  $('#nobelists').facet_context(function() {
    return { 
      search: $("#search").val() 
    }
  });
  
  // standard facets
  $('#birth_place').nested_facet();
  
  // examples of visualization facets
  $('#discipline').bar_facet({ height: 230, width: 230 });
  $('#nobel_year').donut_facet({ height: 230, width: 230, thickness: 15 });
  $('#birth_decade').scatter_facet({ height: 120, width: 230, max:16 });

  // example of injecting a control into a facet
  //   here we add a multivalued facet control that shows how many values are selected and allows a 'clear all'
  $('#degree').facet({
      injectors: {
        '.title .controls' : function(self, data) { 
          $(this).append('<span class="clear_control">(' + self.refinements(self.facet_name()).length + ') [x]</span>'); 
        }
      },
      handlers: {
        'click!.clear_control' : function(self) {
          var context = self.context();
          context.refinements(self.facet_name()).length = 0;
          context.trigger('changed');
          return false;
        }
      }
    });
    
    // example of a results widget that injects its own content (in this case, a visualization of nobelists)
    $('#timeline').results({ 
      type: 'json',
      injectors: {
        'div': function(self, nobelists) {
          visualize_nobelists(nobelists, $(this),  { height: 550, width: 550 });  // see application.js for visualization function
        }
      }
    });
    
    // regular list view
    $('#results').results({ type: 'html' });
    $('#results').hide();
    
    // script to toggle results views
    $('#timeline').click(function() {  $('#results').show(); $('#timeline').hide(); });
    $('#results').click(function() {   $('#results').hide(); $('#timeline').show(); });
});

</script>

<form>
Search: <input id='search' name='search' type='text' value='<%= @search %>'/>
</form> 

<div id='info'>Repertoire Faceting - Widget Extension features</div>

<%= render :partial => './navigation', :locals => { :highlight => :nobelists } %>

<div id='nobelists'>
  <div class='left'>
    <div id='discipline' class='facet'></div>
    <div id='nobel_year' class='facet visual' title='Year Awarded'></div>
  </div>
  <div id='results'></div>
  <div id='timeline'></div>
  <div class='right'>
    <div id='degree' class='facet' title='Degree at MIT'></div>
    <div id='birth_place' class='nested_facet' title='Birth Place'></div>
    <div id='birth_decade' class='facet' title='Birth Decade'></div>
  </div>
</div>
